# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Catalogs data
public/catalogs/agnqso_desi/agnqso_desi.fits
public/catalogs/agnqso_desi/dr1_vac_dr1_agnqso_v1.0.sha256sum
public/catalogs/agnqso_desi/qso.dat
public/catalogs/sdss_qso/*.fits
public/catalogs/sdss_qso/*.dat
public/catalogs/milliquas/*.fits
public/catalogs/milliquas/*.dat
public/catalogs/vii_258/*.fits
public/catalogs/vii_258/*.dat
public/catalogs/vii_259_6dF/*.fits
public/catalogs/vii_259_6dF/*.dat
public/catalogs/twomassrsc/*.fits
public/catalogs/twomassrsc/*.dat
public/catalogs/quaia/*.fits
public/catalogs/quaia/*.dat
public/catalogs/vii_221_iraspscz/*.fits
public/catalogs/vii_221_iraspscz/*.dat

sync.sh
